body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

#search {
    width: 600px;
    height: 50px;
    border: 2px solid darkblue;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}

#userDetails {
    padding-top: 50px;
}

#errorInfo {
    padding-top: 50px;
    color: red;
    font-size: 50px;
}